@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.tela-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./imagens/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 480px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #303134;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container>* {
    padding: 20px;
}

img {
    display: flex;
    margin-left: 30%;
    width: 40%;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(31, 29, 29, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #303134;
    padding: 20px 45px 20px 20px;
}

.login input::placeholder {
    color: #303134;
}

.login i {
    position: absolute;
    right: 20px;
    top: 35%;
}

.texto {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.texto label input {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #303134;

}

.botao {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #00BFFF, #007ACC);
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

input:hover {
    background-color: #F5F5F5;
}

button {
    background: linear-gradient(to right, #00BFFF, #007ACC);
    border: none;
    border-radius: 25px;
    color: white;
    transition: 0.5s ease;
}

button:hover {
    background: linear-gradient(to right, #0096E0, #005EA6);
    box-shadow: 0 0 8px rgba(0, 122, 204, 0.6);
}

a:hover {
    text-decoration: underline;
}

/* CSS DO MAIN.HTML */

.tela-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./imagens/background-main.jpg);
    background-size: cover;
    background-position: center;
}

.container-main {
    width: 550px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container-main>* {
    padding: 50px 25px;
}

.botao-sair {
    display: flex;
    width: 15%;
    height: auto;
    margin-left: 85%;
    padding: 5px 0px;
}

.botao-sair button {
    background: #FF4D4D;
}

.botao-sair button:hover {
    background: linear-gradient(135deg, #FF0000, #FF4D4D);
    transition: 0.1 ease;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
}

.form {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.form select {
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: 2px solid rgba(31, 29, 29, 0.2);
    border-radius: 40px;
    outline: none;
    color: #FFFFFF;
    padding: 10px;
}

.numero {
    text-align: left;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.numero input {
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: 2px solid rgba(31, 29, 29, 0.2);
    border-radius: 40px;
    outline: none;
    color: #303134;
    padding: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    color: #FFFFFF;
}

.numero input[type="number"]::-webkit-inner-spin-button,
.numero input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numero input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

select:hover {
    background: linear-gradient(to right, #00BFFF, #007ACC);
    transition: 0.1s ease;
    cursor: pointer;
}

.numero input:hover {
    background: linear-gradient(to right, #00BFFF, #007ACC);
    transition: 0.3s ease;
    cursor: pointer;
}

@media(max-width:600px){

    .container-main {
    width: 420px;
}

.container-main>* {
    padding: 50px 25px;
}

}

@media(min-width:160px) and (max-width:450px){

    .container-main {
    width: 320px;
}

.container-main>* {
    padding: 10px 5px;
}

}