@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./imagens/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #303134;;
    padding: 30px, 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

img {
    display: flex;
    margin-left: 30%;
    width: 40%;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;;
}

.login input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(31, 29, 29, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #303134;
    padding: 20px 45px 20px 20px;
}

.login input::placeholder {
    color: #303134;
}

.login i {
    position: absolute;
    right: 20px;
    top: 35%;
}

.texto {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.texto label input {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #303134;

}

.botao {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

input:hover {
    background-color: #f0f0f0;
}

button:hover {
     background-color: #5ec2f2
}

a:hover {
    text-decoration: underline;
}